body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    margin-top: 200px;
}
#clock{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    background-color: rgba(132, 131, 131, 0.5);
    margin: auto;
    width: 60%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 10px;
}
#clock div{
    box-sizing: border-box;
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
    width: 50%;
    height: 70%;
    border-radius: 5px;
    background-color: rgba(0, 255, 255, 0.19);
    font-family: monospace;
}

#date{
    grid-column: span 3;
    justify-items: stretch;
    
}

#clock div:nth-of-type(4){
    width: 80%;
}





